<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="template">
<link rel="stylesheet" type="text/css"
	href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css" />
<head>
<meta charset="utf-8">
<title>Ajout des Weapons</title>
</head>
<body>
	<div layout:fragment="Mycontent">
		<div class="container mt-5">
			<div class="card">
				<div class="card-header" th:if="${mode=='new'}">Ajout des
					Weapons</div>
				<div class="card-header" th:if="${mode=='edit'}">Modification
					des Weapons</div>
				<div class="card-body">
					<form th:action="@{saveWeapon}" method="post">
						<div class="form-group">
							<label class="control-label" hidden>ID Weapon :</label> <input
								type="hidden" name="idWeapon" class="form-control"
								th:value="${weapon.idWeapon}" />
						</div>
						<div class="form-group">
							<label class="control-label">Nom Weapon :</label> <input
								type="text" name="nameWeapon" class="form-control"
								th:value="${weapon.nameWeapon}" /> <span
								th:errors=${weapon.nameWeapon} class="text-danger">
							</span>
						</div>
						<div class="form-group">
							<label class="control-label">Prix Weapon :</label> <input
								type="text" name="priceWeapon" class="form-control"
								th:value="${weapon.priceWeapon}" /> <span
								th:errors=${weapon.priceWeapon} class="text-danger">
							</span>

						</div>
						<div class="form-group">
							<label class="control-label">date d'embauche :</label> <input
								type="date" name="dateWeapon" class="form-control"
								th:value="${weapon.dateWeapon}" /> <span
								th:errors=${weapon.dateWeapon} class="text-danger">
							</span>


						</div>
						
			      	<div class="form-group">
							<label class="control-label">Specialité :</label> 
							<select  type="text" name="category" class="form-control" th:value="${weapon.category.idCategory}"  >
								<option th:each="e:${categorys}" th:if="${mode=='new'}"
									th:value="${e.idCategory}" th:text="${e.nameCategory}"></option>
								<option th:each="e:${categorys}" th:if="${mode=='edit'}" th:value="${e.idCategory}" th:text="${e.nameCategory}"
									th:selected="${ e.idCategory==weapon.category.idCategory}"></option>

								
							</select>
						</div>
                       
						<div>
							<button type="submit" class="btn btn-primary">Valider</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>